# Sample system-of-record file for the auto-completion
# format is:
#   alias: list of hostnames
# hostnames may appear in multiple lists.

ldap: ldap-001.my.secret.domain ldap-002.my.secret.domain
nfs: nfs-00.my.secret.domain nfs-01.my.secret.domain
docker-test: docker-test-01.my.secret.domain docker-test-02.my.secret.domain
docker-swarm: docker-swarm-01.my.secret.domain docker-swarm-02.my.secret.domain docker-swarm-03.my.secret.domain